$Logo: clamp(1.95rem, calc(1.56vw + 1.56rem), 2.81rem);
$MajorHeading: clamp(3.05rem, calc(3.54vw + 2.17rem), 5rem);
$Heading: clamp(2.44rem, calc(2.38vw + 1.85rem), 3.75rem);
$SubHeading: clamp(1.55rem, calc(1.46vw + 1.46rem), 2.21rem);
$Text: clamp(1.12rem, calc(1vw + 1.11rem), 1.16rem);
$Link: clamp(1.05rem, calc(0.61vw + 0.8rem), 1.18rem);
