.overrides_IndexTop .slick-dots {
  bottom: 20px;
  max-width: 200px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.overrides_IndexTop .slick-dots li {
  margin: 12px;
}
.overrides_IndexTop .slick-dots li button::before {
  transition: 0.5s ease-in-out;
  font-size: 29px;
  color: white;
}

@media all and (max-width: 1995px) {
  .fade-left-fix {
    transform: translateX(0) !important;
  }
  .fade-right-fix {
    transform: translateX(0) !important;
  }
}
@media all and (max-width: 991px) {
  .fade-left-fix {
    transform: translateX(0) !important;
  }
  .fade-right-fix {
    transform: translateX(0) !important;
  }
  .overrides_IndexTop .slick-dots {
    bottom: 5px;
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  .overrides_IndexTop .slick-dots li {
    margin: 6px;
  }
  .overrides_IndexTop .slick-dots li button::before {
    font-size: 22px;
    color: white;
  }
}
@media all and (max-width: 768px) {
  .fade-up-fix {
    transform: translateY(0) !important;
  }
  .fade-down-fix {
    transform: translateY(0) !important;
  }
  .fade-left-fix {
    transform: translateX(0) !important;
  }
  .fade-right-fix {
    transform: translateX(0) !important;
  }
  .overrides_IndexTop .slick-dots {
    bottom: 5px;
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  .overrides_IndexTop .slick-dots li {
    margin: 6px;
  }
  .overrides_IndexTop .slick-dots li button::before {
    font-size: 19px;
    color: white;
  }
}
@media all and (max-width: 419px) {
  .fade-up-fix {
    transform: translateY(0) !important;
  }
  .fade-down-fix {
    transform: translateY(0) !important;
  }
  .fade-left-fix {
    transform: translateX(0) !important;
  }
  .fade-right-fix {
    transform: translateX(0) !important;
  }
}
@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .fade-up-fix {
    transform: translateY(0) !important;
  }
  .fade-down-fix {
    transform: translateY(0) !important;
  }
  .fade-left-fix {
    transform: translateX(0) !important;
  }
  .fade-right-fix {
    transform: translateX(0) !important;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .fade-up-fix {
    transform: translateY(0) !important;
  }
  .fade-down-fix {
    transform: translateY(0) !important;
  }
  .fade-left-fix {
    transform: translateX(0) !important;
  }
  .fade-right-fix {
    transform: translateX(0) !important;
  }
  .overrides_IndexTop .slick-dots {
    bottom: 10px;
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  .overrides_IndexTop .slick-dots li {
    margin: 6px;
  }
  .overrides_IndexTop .slick-dots li button::before {
    font-size: 22px;
    color: white;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .fade-up-fix {
    transform: translateY(0) !important;
  }
  .fade-down-fix {
    transform: translateY(0) !important;
  }
  .fade-left-fix {
    transform: translateX(0) !important;
  }
  .fade-right-fix {
    transform: translateX(0) !important;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .fade-up-fix {
    transform: translateY(0) !important;
  }
  .fade-down-fix {
    transform: translateY(0) !important;
  }
  .fade-left-fix {
    transform: translateX(0) !important;
  }
  .fade-right-fix {
    transform: translateX(0) !important;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .fade-up-fix {
    transform: translateY(0) !important;
  }
  .fade-down-fix {
    transform: translateY(0) !important;
  }
  .fade-left-fix {
    transform: translateX(0) !important;
  }
  .fade-right-fix {
    transform: translateX(0) !important;
  }
  .overrides_IndexTop .slick-dots {
    bottom: 10px;
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  .overrides_IndexTop .slick-dots li {
    margin: 8px;
  }
  .overrides_IndexTop .slick-dots li button::before {
    font-size: 25px;
    color: white;
  }
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .overrides_IndexTop .slick-dots {
    bottom: 10px;
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  .overrides_IndexTop .slick-dots li {
    margin: 10px;
  }
  .overrides_IndexTop .slick-dots li button::before {
    font-size: 25px;
    color: white;
  }
}/*# sourceMappingURL=overrides.css.map */